<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'ToDoListApp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'ToDoListApp/css/style.css' %}">
    <title> {% block title %} Document {% endblock title %}</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-3"><br>
                <div class="col area-color">
                    {% block hading %}

                    {% endblock hading %}
                </div>
                {% block container %}
                {% endblock container %}
            </div>
        </div>
    </div>
    
    <script src="{% static 'ToDoListApp/js/bootstrap.js' %}"></script>
    <script src="{% static 'ToDoListApp/js/jquery.js' %}"></script>
    <script src="{% static 'ToDoListApp/js/popper.js' %}"></script>
</body>
</html>