{% extends "coreapp/base.html" %}
{% block content %} 

<div class='col-sm-6 my-5 offset-3'>
    <div class= 'header-bar'>
        <h1>Welcome {{request.user | title}}</h1>
        <p class='text-end'><a class="text-white" href="{% url 'logout' %}" style="text-decoration: none" >Logout</a></p>
    </div>
    <div class='border bg-secondary text-white'>
        <div class="col-sm-10 my-4 offset-1">
            {% if fm %}
            {% for i in fm %}
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>

                </tbody>
              </table>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}